<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Actors Index</title>
</head>

<body>
<h1> <%= actor.name.first %> <%= actor.name.last%> </h1>

<div>
    <img src="/api/pics/<%= actor.name.last %>_sm.jpg" alt="<%= actor.name.last %>">
</div>

</body>